<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<strong><h1>LAYOUT AMDINS BACKOFFICE</h1><%= link_to 'Home', site_welcome_index_path, class:"btn btn-primary btn-lg" %></strong>
    <%= yield %>
  </body>
</html>
